name: CI
on:
- push
- pull_request
jobs:
  main:
    strategy:
      matrix:
        os:
        - ubuntu-18.04
        - ubuntu-20.04
        cc:
        - gcc
        - clang
    runs-on: ${{matrix.os}}
    steps:
    - uses: actions/checkout@v2
    - name: check C compiler version
      run:
        ${{matrix.cc}} --version
    - name: build the program
      run:
        make CC=${{matrix.cc}}
    - name: install deps
      run:
        sudo apt-get install monkeysphere
    - name: run tests
      run:
        make test
    - name: run cppcheck
      run: |
        sudo apt-get install cppcheck
        cppcheck --error-exitcode=1 *.c
    - name: check README syntax
      run: |
        python3 -m pip install pygments restructuredtext-lint
        rst-lint --level=info --encoding=UTF-8 README
      if: matrix.os != 'ubuntu-18.04'

# vim:ts=2 sts=2 sw=2 et
